#chatTextArea {
    height: 300px; 
    resize: none;
}
.chatTextArea {
    height: 300px;
    overflow: auto;
}
.headerName,
.onlineStatus {
    display: inline-block;
}

.messageRow {
    display: flex;
}
.messageRow > div {
    flex: 1;
}
.messageRow > div.userMessage {
    flex: 10;
}

.darkTheme,
input.darkTheme,
input.darkTheme:focus {
    background-color: #282726;
}

h3.darkTheme,
input.darkTheme,
input.darkTheme:focus {
    color: wheat;
    border-color: #a89777 !important;
}

#chatTextArea.darkTheme {
    border-color: wheat !important;
}

p.debugElemHide {
    display: none;
}
#chatInfo.debugElemHide {
    opacity: 0;
}